html{
    font-size: 62.5%;
}
*{
    font-family: outfit;
}
#MainProduct-template--17833031074048__main{

    background: #F6F5F3;
}
.size_guide__box{
    
        max-width: 100%;
        position: absolute;
        top: 0%;
        display: flex;
        justify-content: space-between;
        left: 0%;
        z-index: 11;
}
.slideshow__controls.slider-buttons.slideshow__controls--border-radius-mobile {
    display: block;
}
.section-template--17833031074048__main-padding .page-width .product--large{
    position: relative;
}
.overlay_size{
    background: #00000066;
    max-width: 50%;
    width: 100%;
    display: none;

}
.my_overlay__form form{
    display: flex;
}
.my_overlay_heading{
    font-size: 2rem;
    font-weight: 600;
    margin: 2rem 0rem 2rem 0rem;
}

.my_overlay__form__div{
    display: flex;
    margin-right: 3.2rem;
}
.my_form__label{
    display: flex;
    justify-content: space-between;
    max-width: 70%;
}
.my_overlay__form input{
    width: 2.4rem;
    height: 2.4rem;
    accent-color: #000000;
}
.my_overlay__form label{
    margin-right: 32px;
}
.my_overlay__box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.my_setting__size___text h6{
    font-size: 1.4rem;
    margin: 0.5rem;
}
.size_box{
    padding: 2rem;
    background-color: #FFFFFF;
    z-index: 1;
    max-width: 50%;
    width: 100%;
    display: none;

}
.my_overlay_table2{
    display: none;
}
#unique_text_QDhCha{
    position: absolute;
    top: 24.5%;
    cursor: pointer;
    border-bottom: 1px solid black;
    right: 50%;
}
.my_main__product___frist____show_____hide ul{
    padding: 2rem   ;
}
#MainProduct-template--17833031074048__main .page-width{
    max-width: 100%;
    padding: 0%;
}
#MainProduct-template--17833031074048__main .product__media-wrapper{
    max-width: 50%;
}
#MainProduct-template--17833031074048__main .scroll-trigger{
    display: flex;
    justify-content: center;
}
#variant-selects-template--17833031074048__main .product-form__input label{
    width: 4.4rem;
    height: 4.4rem;
    line-height: 4.4rem;
    padding: 0rem;
}
#variant-selects-template--17833031074048__main .product-form__input label:hover{
    border: 1px solid #222222
}
product-info .product__text{
    font-size: 1.2rem;
    font-weight: 400;
}
product-info .product__title h1{
    font-weight: 400;
}
.product .product__info-wrapper .price{
    text-align: left;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 2rem;

}
#unique_text_MQNhej{
    position: absolute;
    top: 35.5%;
    right: 11%;
    border-bottom: 1px solid #000000;
}
.my_product__count{
    display: flex;
    align-items: flex-start;
}
.my_product__count .price-per-item__container{
    max-width: 31%;
    width: 100%;
}
.my_product__buy___btn{
    max-width: 69%;
    width: 100%;
}
.my_product__count .my_product__buy___btn product-form{
    margin: 0rem;
}
.my_main__product___text{
    display: flex;
    align-items: center;
}
#shopify-section-template--17833030779136__product-grid #product-grid .grid__item{
    max-width: calc(25% - var(--grid-desktop-horizontal-spacing));
    width: calc(25% - var(--grid-desktop-horizontal-spacing));
}
.fa-filter{
    font-size: larger;
    margin-right: 0.5rem;
    margin-bottom: 1.5rem;
}
#variant-selects-template--17833031074048__main .my_main__product___color____variant____size{
    width: 3.8rem;
    height: 3.8rem;
}
.my_main__product___text p:nth-child(1){
    font-size: 1.2rem;
}
.my_main__product___text p:nth-child(2){
    color: #5A31F4;
    font-size: 2rem;
    font-weight: 600;
    margin: 0rem 0rem 0.2rem 1rem;
}
.my_main__product___text p:nth-child(3){
    font-size: 1.2rem;
    margin-left: 3rem; 
    border-bottom: 1px solid #000000;
}
.my_main__product__pay{
    background: #5A31F4;
    color: #fff;
    border-radius: 5px;
    font-size: 1.5rem;
    padding: 0.1rem 0.3rem;
    margin-left: 0.2rem;
    font-weight: 300;
}
.my_main__product___frist____show_____hide{
    display: flex;
    max-width: 90%;
    border-bottom: 1.5px solid #DDDDDD;
}
.my_main__product___sec____show_____hide{
    display: flex;
    max-width: 90%;
    border-bottom: 1.5px solid #DDDDDD;
    justify-content: space-between;
}
.my_main__product___show{
    max-width: 10%;
    padding-left: 0rem;
}
.my_overlay_table table tr:nth-child(1){
    background: #F6F5F3;
}
.my_main__product___show span{
    font-size: 30px;
}
.my_main__product___frist____show_____hide .puls{
    display: none;
}
.my_main__product___frist____show_____hide ul{
    margin-bottom: 0rem;
}
.my_main__product___sec____show_____hide .min{
    display: none;
    margin: 0rem;
}

.slider-buttons{
    display: none;
}

#MainProduct-template--17833031074048__main .my_main__product___frist____show_____hide  .product__description{
    max-width: 95%;
    padding-right: 4rem;
    margin: 0rem;
}   
#MainProduct-template--17833031074048__main .my_main__product___sec____show_____hide{
    margin: 0rem;
}
#MainProduct-template--17833031074048__main .my_main__product___frist____show_____hide{
    margin: 0rem        ;
}
#shopify-section-sections--17833030320384__multicolumn_N4Xaey{
    display: none;
}
.my_product__media___image{
    text-align: center;
}
.my_close__btn{
    cursor: pointer;
}
.my_overlay__dec___innerDiv{
    max-width: 50%;
}
.my_overlay_table{
    max-width: 100%;
    margin-top: 2rem;
}
.my_overlay_table table{
    width: 100% !important;
    text-align: center;
}
.my_overlay__dec___innerDiv img{
    width: 100%;
}
.my_dec__padding{
    padding: 2rem;
}
.my_overlay__dec___innerDiv p{
    font-size: 1.6rem;
}
.my_overlay_dec{
    display: flex;
    align-items: center;
    text-align: justify;
    margin-top: 2rem;
}
#MainProduct-template--17833031074048__main{
    padding-top: 0rem   ;
}
.my_product__media___image img{
    width: 80%;
}
#MainProduct-template--17833031074048__main .product__info-wrapper{
    max-width: 100%;
    padding: 7.2rem 3rem 5.7rem 3rem;
}
#ProductInfo-template--17833031074048__main .product__title h1{
    font-size: 2rem;
    font-weight: 400;
    margin-top: 1.1rem;
}
#Slider-Thumbnails-template--17833031074048__main{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.my_collection__color___variant___link .my_variant__color___size{
    width: 3rem;
    height: 3rem;
}
.card-wrapper .card__content .card__heading{
    font-size: 1.5rem   ;
}
#Slider-Thumbnails-template--17833031074048__main li{
   
    max-width: calc(13.66% - 1rem);
    width: 100%;
}
.related-products .grid .grid__item{
    max-width: calc(21% - var(--grid-desktop-horizontal-spacing));
    width: calc(20% - var(--grid-desktop-horizontal-spacing));
}
.related-products .grid{
    padding: 0rem 5rem;
}       
.related-products{
    padding: 0rem;
}
#shopify-section-template--17833031074048__featured_collection_e8gBka .collection .grid .grid__item{
    max-width: calc(21% - var(--grid-desktop-horizontal-spacing));
    width: calc(20% - var(--grid-desktop-horizontal-spacing));
}
@media  screen and (max-width:1300px){
    .my_overlay__dec___innerDiv p {
        font-size: 1.4rem;
    }
}
@media  screen and (max-width:1200px) {
    html{
        font-size: 49%;
    }
    .my_overlay_table td span strong{
        font-size: 1.4rem   ;
    }
    .my_collection__color___variant___link .my_variant__color___size li{  
        width: 2.5rem;
        height: 2.5rem;
    }
    
    #MainProduct-template--17833031074048__main .product__info-wrapper {
        max-width: 100%;
        padding: 3rem 0rem 0rem 11rem;
    }
    .my_main__product___text{
        flex-wrap: wrap;
    }
   
    .my_main__product___text p:nth-child(1){
        width: 100%;
    }
    .my_main__product___text p:nth-child(2){
        width: max-content;
    }
    .my_main__product___text p:nth-child(3){
        width: max-content;
    }
    .my_product__media___image img {
        width: 50%;
    }
    #MainProduct-template--17833031074048__main .product__media-wrapper {
        max-width: 100%;
        width: 100%;
    }
    .my_main__product___show____hide {
        position: absolute;
        top: -2%;
        left: 42%;
        width: 50%;
    }
    #MainProduct-template--17833031074048__main .scroll-trigger{
        justify-content: flex-start;
    }
    .my_product__buy___btn {
        max-width: 50%;
        width: 100%;
    }
    
    
}
@media screen and (max-width:990px) {
    #MainProduct-template--17833031074048__main .product__info-wrapper{
        margin-left: 6rem;
        position: relative;
        padding: 3.2rem 5rem 5.7rem;
    }
    slider-component.page-width {
        padding: 0rem !important;
    }
    .my_product__count .price-per-item__container{
        max-width: 40%;
    }
    .my_product__buy___btn{
        max-width: 60%;

    }
    ul#Slider-template--17833031074048__featured_collection_e8gBka {
        position: relative;
        overflow-y: hidden      ;
        flex-wrap: inherit;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        scroll-padding-left: 1.5rem;
        -webkit-overflow-scrolling: touch;
        margin-bottom: 1rem;
        scrollbar-width: none;
    }
    #variant-selects-template--17833031074048__main .my_main__product___color____variant____size{
        width: 3.3rem !important;
        height: 3.3rem !important;
    }
    .content-for-layout .product-grid .my-grid-5{
        display: block;
    }
    #Slide-template--17833030811904__featured_collection_PJQyCA-7{
        display: none;
    }
   
    .related-products .grid {
        position: relative;
        flex-wrap: inherit;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        scroll-padding-left: 1.5rem;
        -webkit-overflow-scrolling: touch;
        margin-bottom: 1rem;
        scrollbar-width: none;
    }
    .related-products .grid {
        padding: 0rem 1.5rem;
    }
    #shopify-section-template--17833031074048__featured_collection_e8gBka .collection .grid .grid__item {
        max-width: calc(29% - var(--grid-desktop-horizontal-spacing));
        width: calc(29% - var(--grid-desktop-horizontal-spacing));
    }
    .related-products .grid{
        position: relative;
        flex-wrap: inherit;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        scroll-padding-left: 1.5rem;
        -webkit-overflow-scrolling: touch;
        margin-bottom: 1rem;
        scrollbar-width: none;
    }
    .related-products .grid .grid__item{
        max-width: calc(29% - var(--grid-desktop-horizontal-spacing));
        width: calc(29% - var(--grid-desktop-horizontal-spacing));
    }
    
}
@media screen and (max-width:860px){
    #MainProduct-template--17833031074048__main .product__info-wrapper {
       
        padding: 3.2rem 0rem 0rem 0.7rem;
    }
    #MainProduct-template--17833031074048__main .product__info-wrapper {
        margin-left: 2rem;
        
    }
}
@media screen and (max-width:750px) {
    #MainProduct-template--17833031074048__main .product__info-wrapper {
        margin-left: 0rem;
        padding: 3.2rem 8rem 5.7rem;
    }
    .my_product__count .price-per-item__container{
        max-width: 32%;
    }
    .overlay_size{
        max-width: 30%;
    }
    .related-products .grid .grid__item {
        max-width: calc(43% - var(--grid-desktop-horizontal-spacing));
        width: calc(43% - var(--grid-desktop-horizontal-spacing));
    }
    .my_main__product___show____hide {
       
        width: 100%;
    }
    #shopify-section-template--17833031074048__featured_collection_e8gBka .collection .grid .grid__item {
        max-width: calc(41% - var(--grid-desktop-horizontal-spacing));
        width: calc(41% - var(--grid-desktop-horizontal-spacing));
    }
    .my_main__product___show____hide{
        position: static;
    }
    product-info .product__text {
        font-size: 1.4rem;
    }
    .my_product__buy___btn {
        max-width: 70%;
    }
    
    #variant-selects-template--17833031074048__main .product-form__input label {
        width: 4.4rem !important;
        height: 4.4rem !important;
    }
    #ProductInfo-template--17833031074048__main .product__title h1 {
        font-size: 3rem;
       
    }
    .my_footer__img {
        flex-direction: column;
    }
    .footer .grid {
        display: flex !important;
    }
    .newsletter-form{
        align-items: flex-start !important;
    }
    .footer-block.grid__item{
        padding: 0rem 1rem !important;
    }
    .my_main__product___text p:nth-child(1) {
        font-size: 1.8rem;
    }
    .size_box{
        max-width: 70%;
    }
}

@media screen and (max-width:590px) {
    #shopify-section-sections--17833030320384__multicolumn_jfF7eb{
        display: none;
    }
    #shopify-section-sections--17833030320384__multicolumn_N4Xaey{
        display: block;
    }
    .product__media-wrapper slider-component:not(.thumbnail-slider--no-slide){
        margin-left: 0rem; 
         margin-right: 0rem; 
    }
    .grid--1-col-tablet-down .grid__item {
        width: calc(50% - var(--grid-desktop-horizontal-spacing));
        max-width: calc(50% - var(--grid-desktop-horizontal-spacing));
    }
    .my_footer__img {
        flex-direction: row;
    }
    div#my_footer__id3 {
        width: 100%;
    }
    #Slider-sections--17833030320384__multicolumn_N4Xaey{
        justify-content: flex-start;
    }
    #shopify-section-sections--17833030320384__multicolumn_jMwAmk .grid--1-col-tablet-down .grid__item {
        width: calc(19.33% - 1rem);
        max-width: calc(19.33% - 1rem);
    }
    #MainProduct-template--17833031074048__main .product__info-wrapper {
        padding: 6.4rem 3rem 0rem ;
    }
    #Slider-Thumbnails-template--17833031074048__main li {
        max-width: calc(15.66% - 1rem);
    }
    .related-products .grid .grid__item {
        max-width: calc(70% - var(--grid-desktop-horizontal-spacing));
        width: calc(70% - var(--grid-desktop-horizontal-spacing));
    }
    #shopify-section-template--17833031074048__featured_collection_e8gBka .collection .grid .grid__item {
        max-width: calc(70% - var(--grid-desktop-horizontal-spacing));
        width: calc(70% - var(--grid-desktop-horizontal-spacing));
    }
    .my_product__media___image img {
      
        max-width: 100%;
        width: 100%;
    }
    #MainProduct-template--17833031074048__main .page-width{
        padding: 0rem   ;
    }
}
@media screen and (max-width:500px){
    .size_box{
        max-width: 90%;
    }
    .overlay_size{
        max-width: 10%;
    }
    .my_overlay_table2{
        display: block ;
    }
    .my_overlay_table2{
        margin-top: 2rem;
    }
    .my_overlay__dec___innerDiv{
        max-width: 100%;
    }
    .my_overlay_dec {
       flex-direction: column-reverse;
    }
    .my_overlay_table{
        display: none;
    }
    .my_overlay_table2 table tr:nth-child(odd){
        background-color: #F6F5F3   ;
    }
}
@media screen and (max-width:400px) {
    #variant-selects-template--17833031074048__main fieldset:nth-child(2) label{
        width: 4rem !important;
        height: 4rem !important;
    }
    .my_footer__img img:nth-child(1) {
        max-width: 60%;
    }
}

@media screen and (max-width:340px) {
    #variant-selects-template--17833031074048__main fieldset:nth-child(2) label{
        width: 3.5rem !important;
        height: 3.5rem !important;
    }
    #variant-selects-template--17833031074048__main .my_form__label legend:nth-child(2){
        margin-right: -40px;
    }
    .my_footer__img img:nth-child(1) {
        max-width: 60%;
    }
}

